body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 60, 0);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.layer {
    position: absolute;
    transform: translateX(180px);
    z-index: 100;
    width: 200px;
    height: 100px;
    background-color: rgba(0, 34, 0, 0.307);
    animation-name: backlayer;
    animation-duration: 952ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;

h1 {
    color: rgb(255, 146, 199);
    position: relative;
    font-size: 2.1rem;
    width: 100%;
    animation-name: text;
    animation-duration: 955ms;
    animation-timing-function: cubic-bezier(0.42, 0, 0.33, 1.16);
    animation-iteration-count: 10;
    animation-direction: alternate-reverse;
}

.text {
    display: grid;
    width: 100%;
    overflow: hidden;
}



.circle {
    width: 55px;
    height: 55px;
    z-index: 100;
    position: relative;
    transform: translate(10px);
    background-color: rgb(255, 146, 199);
    border-radius: 30px;
    animation-name: dot;
    animation-duration: 952ms;
    animation-timing-function: cubic-bezier(0.42, 0, 0.33, 1.16);
    animation-iteration-count: 10;
    animation-direction: alternate-reverse;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 20%;
}



@keyframes text {
    
    0% {
        left: 0;
        
    }
    50% {
        left: 150px;
    
    100% {
        
        left: 0;
    }
}

@keyframes dot {

    0% {
        right: 0;
        
    }
    50% {
        right:100px;
    }
    
    100% {
        right: 0;
    }
}

@keyframes backlayer {
    0% {
        transform: translateX(0);
    }

   50% {
    transform: translateX(100px);
   }
   100% {
    transform: translateX(0);
   }
}
